# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/dgph

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/dgph

*.dia

*.swiftdeps

*.xcuserstate

*.swiftdeps

*.dia

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/SwiftDataStructures-master.swiftdeps

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/StackIndex.swiftdeps

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/StackIndex.dia

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Stack.swiftdeps

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Stack.dia

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Deque.swiftdeps

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/dgph

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Deque.dia

*.dia

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Trie.swiftdeps

SwiftDataStructures.xcodeproj/project.xcworkspace/xcuserdata/oisinkidney.xcuserdatad/UserInterfaceState.xcuserstate

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Trie.dia

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Deque.d

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Stack.d

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/StackIndex.d

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/SwiftDataStructures-OutputFileMap.json

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/SwiftDataStructures.LinkFileList

build/SwiftDataStructures.build/Release/SwiftDataStructures.build/Objects-normal/x86_64/Trie.d
